<!-- COMPARISON SLIDE -->
<div class='comparison-slide container span12' style='padding-left:10px; padding-right:10px;'>
	<h3 class='muted text-right'>Comparison</h3>
	<div class='row span12 text-center' style='padding-top:20px; height:450px;'>
		<div class='thumbnails span12'>
			<div class='thumbnail span5' style='height:100%;'>
				<div style='height:300px;'>
					<img class='img-rounded' id="image-left" src="<%= left_image %>" style="border-style:solid; border-color:white; padding-bottom:10px;">
				</div>
				<div class='text-left' style='height:100px;'>
					<hr>
					<p><%= left_caption %> <small class='muted'><%= left_credit %></small></p>
				</div>
			</div>
			<div class='span1 padding'></div>
			<div class='span1 padding'></div>
			<div class='thumbnail span5' style='height:100%;'>
				<div style='height:300px;'>
					<img class='img-rounded' id="image-left" src="<%= right_image %>" style="border-style:solid; border-color:white; padding-bottom:10px;">
				</div>
				<div class='text-left' style='height:100px;'>
					<hr>
					<p><%= right_caption %> <small class='muted'><%= right_credit %></small></p>	
				</div>
			</div>
		</div>
	</div>
	<div class='row span12'>
		<h3 class='lead'>Description</h3>
		<p><%= description %></p>
	</div>
</div>
