<div class='comparison-slide container span12' style='padding-left:10px; padding-right:10px;'>
	<h3 class='muted text-right'>Comparison</h3>
	<div class='row span12 text-center' style='padding-top:20px; height:450px;'>
		<div class='thumbnails span12'>
			<div class='thumbnail span5' style='height:100%;'>
				<div style='height:300px;'>
					<img id="image-left" src="http://jennkingcht.com/static/b/img/upload_placeholder_300x300.png" style="border-style:solid; border-color:white; padding-bottom:20px;">
				</div>
				<form style='margin:0 auto'>
					<hr>
					<input type='text' class='span4 left-url' placeholder='Photo URL'></input><br>
					<input type='text' class='span4 left-credit' placeholder='Photo Credit'></input><br>
					<textarea rows='2' class='span4 left-caption' type="text" placeholder="Caption this image"></textarea>
				</form>
			</div>
			<div class='span1 padding'></div>
			<div class='span1 padding'></div>
			<div class='thumbnail span5' style='height:100%;'>
				<div style='height:300px;'>
					<img id="image-left" src="http://jennkingcht.com/static/b/img/upload_placeholder_300x300.png" style="border-style:solid; border-color:white; padding-bottom:20px;">
				</div>
				<form style='margin:0 auto'>
					<hr>
					<input type='text' class='span4 right-url' placeholder='Photo URL'></input><br>
					<input type='text' class='span4 right-credit' placeholder='Photo Credit'></input><br>
					<textarea rows='2' class='span4 right-caption' type="text" placeholder="Caption this image"></textarea>
				</form>
			</div>
		</div>
	</div>
	<div class='row span12 spacer' style="margin:0; auto"><br></div>
	<div class='row span12 spacer' style="margin:0; auto"><br></div>
	<div class='row span12 spacer' style="margin:0; auto"><br></div>
	<div class='row span12' style="margin:0; auto">
		<form style='margin:0 auto'>
			<label class="lead">Description</label>
			<textarea rows='3' class="span12" id='description' type="text" placeholder="Enter a description for the slide"></textarea>
		</form>
	</div>
</div>
