<!-- SLIDESHOW SLIDE -->
<div class='slideshow-slide container span12' style='padding-left:10px; padding-right:10px;'>
	<h3 class='muted text-right'>Slideshow</h3>
	<div class='row span12 text-center' style='padding-top:20px; margin:0; auto'>
		<ul id='image-pane span12' style='white-space:nowrap !important; overflow-x:auto;' >
			<%= list_elements %>
		</ul>
	</div>
	<div class='row span12' style="margin:0; auto">
		<div class='row span12'>
			<h3 class='lead'>Description</h3>
			<p><%= description %></p>
		</div>
	</div>
</div>

