<!-- THIS IS THE TEMPLATE FOR A COMPARISON SLIDE -->
<div class='slideshow-slide container span12' style='padding-left:10px; padding-right:10px;'>
	<div class='row span12 text-center' style='padding-top:20px; margin:0; auto'>
		<ul class='thumbnails' id='image-pane' style='overflow-x:auto;' display='inline' >
			<%= list_elements %>
<!-- 				<li class='thumbnail span3' style='width:350px; height:450px;'>
				<div style='width:100%; height:300px; margin:0 auto;'>
					<img id="image-right" src="holder.js/300x300" style="border-style:solid; border-color:white; padding-bottom:20px;">
				</div>
				<hr>
				<form>
					<input type='text' id='left-credit' placeholder='Photo Credit'></input>
					<textarea rows='2' id='left-caption' type="text" placeholder="Caption this image"></textarea>
				</form>
			</li>
			<li class='thumbnail span3' style='width:350px; height:450px;'>
				<div style='width:100%; height:300px; margin:0 auto;'>
					<img id="image-right" src="holder.js/300x300" style="border-style:solid; border-color:white; padding-bottom:20px;">
				</div>
				<hr>
				<form style='margin:0;'>
					<input type='text' id='left-credit' placeholder='Photo Credit'></input><br>
					<textarea rows='2' id='left-caption' type="text" placeholder="Caption this image"></textarea>
				</form>
			</li>
			<li class='thumbnail span3' style='width:350px; height:450px;'>
				<div style='width:100%; height:300px; margin:0;'>
					<img id="image-right" src="holder.js/300x300" style="border-style:solid; border-color:white; padding-bottom:20px;">
				</div>
				<hr>
				<form>
					<input type='text' id='left-credit' placeholder='Photo Credit'></input><br>
					<textarea rows='2' id='left-caption' type="text" placeholder="Caption this image"></textarea>
				</form>
			</li>
			<li class='thumbnail span3' style='width:350px; height:450px;'>
				<div style='width:100%; height:300px; margin:0;'>
					<img id="image-right" src="holder.js/300x300" style="border-style:solid; border-color:white; padding-bottom:20px;">
				</div>
				<hr>
				<form>
					<input type='text' id='left-credit' placeholder='Photo Credit'></input><br>
					<textarea rows='2' id='left-caption' type="text" placeholder="Caption this image"></textarea>
				</form>
			</li>
			<li class='thumbnail span3' style='width:350px; height:450px;'>
				<div style='width:100%; height:300px; margin:0;'>
					<img id="image-right" src="holder.js/300x300" style="border-style:solid; border-color:white; padding-bottom:20px;">
				</div>
				<hr>
				<form>
					<input type='text' id='left-credit' placeholder='Photo Credit'></input><br>
					<textarea rows='2' id='left-caption' type="text" placeholder="Caption this image"></textarea>
				</form>
			</li>
			<li class='thumbnail span3' style='width:350px; height:450px;'>
				<div style='width:100%; height:300px; margin:0;'>
					<img id="image-right" src="holder.js/300x300" style="border-style:solid; border-color:white; padding-bottom:20px;">
				</div>
				<hr>
				<form>
					<input type='text' id='left-credit' placeholder='Photo Credit'></input><br>
					<textarea rows='2' id='left-caption' type="text" placeholder="Caption this image"></textarea>
				</form>
			</li> -->
		</ul>
	</div>
	<div class='row span12' style="margin:0; auto">
		<div class='row span12'>
			<h3 class='lead'>Description</h3>
			<p><%= description %></p>
		</div>
	</div>
</div>


	<script src="bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="holder.js"></script>
	<script type='text/javascript' src='slideshow-slide.js'></script>
