<div class='navbar-inner pull-left text-center'>
	<ul class='nav slide-selection-nav'>
		<li><button class='btn btn-primary' id='add-slide' style='width:100px;'>Add Slide</button></li>
		<li class='divider-vertical'></li>
		<li><button class='btn newSlide' id='new-scrubber-button' style='width:120px;'>Scrubber</button></li>
		<li class='divider-vertical'></li>
		<li><button class='btn newSlide' id='new-comparison-button' style='width:120px;'>Comparison</button></li>
		<li class='divider-vertical'></li>
		<li><button class='btn newSlide' id='new-slideshow-button' style='width:120px;'>Slideshow</button></li>
	</ul>
</div>	
