<!DOCTYPE HTML>
<html lang="en-US">

<head>
	<meta name ="viewport" content="width=device-width, initial-scale=1.0">
	<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
	<title>Create Story</title>
	<script type="text/javascript" src="holder.js"></script>

	<!--<script type="text/javascript" src="scripts/lib/jquery.js"></script>-->
	<script type="text/javascript" src="jquery.js"></script>

	<script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="file-upload.js"></script>
</head>
<body>

<div class="container span12" style="float:none; margin:0 auto;">
	<div class='row' id='top-stuff'>
		<div class="page-header span12" style="padding-top:30px;">
			<h1 class='pull-left'>View Story</h3>
			<h1><button class='btn btn-primary btn-large pull-right'>Submit</button></h1>
		</div>	
	</div>

	<div class="row" style="margin:0; padding:0;">
		<!-- Cover photo -->
		<div class="thumbnails span6">
			<img id="addPhoto" src="<%= cover_photo.url %>" onclick="getFilePathFromDialog();" style="border-style:solid; border-width:3px; border-color:white;">
			<input type="file" id="fileBrowser" name="fileBrowser" style="visibility:hidden; display:none;" multiple/>
		</div>

		<!-- Headline and author -->
	    <div class="span6">
	    	<form>
	    		<label class="lead">Headline</label>
		    	<input class="span6" type="text" placeholder="<%= headline %>"></input>
				<hr>
				<label class="lead">Author</label>
		    	<input class="span6" type="text" placeholder="<%= author %>"></input>
		    </form>
		</div>
	</div>

	<!-- Description -->
	<div class="row span12" style="margin:0; padding:0;">
	    <form>
	    	<br>
	    	<label class="lead">Description</label>
	    	<textarea rows="4" class="span12"></textarea>
	    </form>
	</div>

	<!-- THIS IS WHERE NEW SLIDES GET APPENDED -->
	<div class='row span12 slide-collection'></div>

	<div class="row span12 navbar">

		<div class='navbar-inner pull-left text-center'>
			<ul class='nav slide-selection-nav'>
				<li><button class='btn btn-primary' id='add-slide' style='width:100px;'>Add Slide</button></li>
				<li class='divider-vertical'></li>
				<li><button class='btn' id='new-cover' style='width:120px;'>Cover</button></li>
				<li class='divider-vertical'></li>
				<li><button class='btn' id='new-scrubber' style='width:120px;'>Scrubber</button></li>
				<li class='divider-vertical'></li>
				<li><button class='btn' id='new-comparison' style='width:120px;'>Comparison</button></li>
				<li class='divider-vertical'></li>
				<li><button class='btn' id='new-slideshow' style='width:120px;'>Slideshow</button></li>
			</ul>
		</div>	
	</div>

</div>

<script type='text/javascript' src='create-story.js'></script>
</body>
</html>